<h1>New Addition</h1>

<form action="/wizard_add_results">
  <label for="val1">Add this:</label>
  <input id="val1" name="first_num">

  <label for="val2">to this:</label>
  <input id="val2" name="second_num">

  <button>Add!</button>
</form>
