<h1>New Division</h1>

<form action="/wizard_divide_results">
  <label for="val1">Divide this:</label>
  <input id="val1" name="first_num">

  <label for="val2">from this:</label>
  <input id="val2" name="second_num">

  <button>Divide!</button>
</form>
