<h1>New multiplication</h1>

<form action="/wizard_multiply_results">
  <label for="val1">Multiply this:</label>
  <input id="val1" name="first_num">

  <label for="val2">by this:</label>
  <input id="val2" name="second_num">

  <button>Multiply!</button>
</form>
